.library{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20rem;
    overflow-y: auto;
    box-shadow: 2px 2px 40px #b4b1b1ed;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    opacity: 0;
    background-color: #fff;
    h2{
        padding:1rem 2rem;
    };  

    &.show{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }
}
.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    &:hover{
        background: rgb(211, 139, 235);
    }

    img{
        width: 30%;
    }
    .song-description{
        padding-left: 1rem;
        h3{
            font-size: 1rem;
        }
        h4{
            font-size: 0.7rem;
        }
    }
}
.selected{
    background: rgb(199, 112, 228);
}
@media screen and (max-width: 768px) {
    .library{
        width: 100%;
    }
}